@observability:registry=https://artifactrepo.kenvue.com/repository/ts-npm-local/
//artifactrepo.kenvue.com/repository/ts-npm-local/:_auth=MXRCNjF2VVQ6SlFhUXJ2Tkd3T2VHcmFReW5jeFRTODFpbDZDbFFuQnZKQkgzb1E1YVRYT2c=
